DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/DATABASE_NAME?schema=public"
PORT=4000
JWT_SECRET="your-secret-key"
TRADING_FEE_PERCENT="0.2"
SYNC_SECRET="yek-secret-kheili-gheyr-ghabele-hads"
COIN_SYNC_CRON="*/5 * * * *"

NODE_ENV="development"
CORS_ORIGINS="http://localhost:3000,http://127.0.0.1:3000"

# NODE_ENV="production" bad az deploy roye vercel
# CORS_ORIGINS="https://your-frontend-domain.vercel.app"

FRONTEND_URL="http://localhost:3000"
EMAIL_PROVIDER="console"
EMAIL_FROM="CryptoX <verify@your-domain.com>"
RESEND_API_KEY=""
EMAIL_VERIFICATION_TOKEN_TTL_MINUTES="60"